.header {
  text-align: center;
  background-color: #282c34;
  height: 150;
  display: grid;
  grid-template-columns: 4fr 4fr 250px;
  grid-template-areas: "title title userinterface";
}

.title {
  padding-left: 20%;
  grid-area: title;
  color: white;
  align-self: center;
}

.user-interface {
  border: 3px solid rgb(14, 2, 48);
  background-color: white;

  grid-area: userinterface;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "avatar username"
    "avatar username";
  color: white;
}

.username {
  color: black;
  grid-area: username;
  padding-top: 20px;
  font-weight: 400;
}

.avatar {
  border: 3px solid rgb(255, 255, 255);
  grid-area: avatar;
  height: 90px;
  padding: 5px;
}

.articles_header-container {
  border: 2px solid rgb(14, 2, 48);
  text-align: center;
  text-transform: capitalize;
}

.articles_article-display {
  border: solid 2px black;
  grid-area: article;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "article";
  padding: 25px;
}

.articles_single-title {
  font-weight: bold;
}

.articles_single-article {
  border: solid 1px rgb(70, 36, 36);
  border-radius: 5px;
  padding: 5px;
  margin: 7px;
  box-shadow: 5px 5px 5px lightblue;
}

.articles_single-page-article-container {
  grid-area: article;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "article";
  border: solid 1px rgb(70, 36, 36);
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightblue;
  padding: 35px;
  margin: 30px;
  color: #282c34;
  background-color: rgb(235, 232, 232);
}

#single-page_title {
  text-align: center;
}
#single-page_topic {
  font-weight: 700px;
  text-align: center;
}
#single-page_author {
  font-weight: 700px;
  text-align: center;
}

#single-page_body {
  font-weight: 700px;
  text-align: center;
}

#single-page_created {
  font-weight: 700px;
  text-align: center;
}
#single-page_votes {
  font-weight: 700px;
  text-align: center;
}
#single-page_comment {
  font-weight: 700px;
  text-align: center;
}

.topics-container {
  border: solid 2px black;
  padding: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 922px) {
  .header {
    background-color: #282c34;
    display: grid;
    grid-template-columns: 1fr 3fr 300px;
    grid-template-areas: "title . userinterface";
  }

  .user-interface {
    border: 3px solid black;
    grid-area: userinterface;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "avatar username"
      "avatar username";
    color: white;
  }

  .username {
    grid-area: username;
    padding-top: 20px;
    font-weight: 600;
  }

  .avatar {
    border: 1px solid white;
    height: 130px;
    padding: 5px;
  }

  .topic-1 {
    padding-left: 175px;
  }

  .topic-4 {
    padding-right: 175px;
  }

  .articles_article-display {
    border: solid 2px black;
    grid-area: article;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-areas: "article article article";
    padding: 25px;
  }
}
