.header {
  text-align: center;
  background-color: #282c34;
  display: grid;
  grid-template-columns: 1fr 4fr 250px;
  grid-template-areas: "title title userinterface";
}

.user-interface {
  border: 3px solid rgb(14, 2, 48);
  background-color: white;

  grid-area: userinterface;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "avatar username"
    "avatar username";
  color: white;
}

.username {
  color: black;
  grid-area: username;
  padding-top: 20px;
  font-weight: 400;
}

.avatar {
  border: 3px solid rgb(255, 255, 255);
  grid-area: avatar;
  height: 90px;
  padding: 5px;
}

.articles_header-container {
  border: 2px solid rgb(14, 2, 48);
  text-align: center;

  display: grid;
  grid-template-columns: 15fr 1fr 5fr;

  grid-template-areas: "title button .";
}

.articles_title {
  grid-area: title;
}

.articles_show-all-articles-button {
  grid-area: button;
  /* margin-right: 200px; */
  padding: 20px;
}

.articles_article-display {
  border: solid 2px black;
  grid-area: article;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-areas: "article article article";
  padding: 25px;
}

.articles_single-title {
  font-weight: bold;
}

.articles_single-article {
  border: solid 1px rgb(70, 36, 36);
  border-radius: 5px;
  padding: 5px;
  margin: 7px;
  box-shadow: 5px 5px 5px lightblue;
}

.topics-container {
  border: solid 2px black;
  padding: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 922px) {
  .header {
    background-color: #282c34;
    display: grid;
    grid-template-columns: 1fr 3fr 300px;
    grid-template-areas: "title . userinterface";
  }

  .user-interface {
    border: 3px solid black;
    grid-area: userinterface;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "avatar username"
      "avatar username";
    color: white;
  }

  .username {
    grid-area: username;
    padding-top: 20px;
    font-weight: 600;
  }

  .avatar {
    border: 1px solid white;
    height: 130px;
    padding: 5px;
  }

  .topic-1 {
    padding-left: 175px;
  }

  .topic-4 {
    padding-right: 175px;
  }
}
