.header {
  text-align: center;
  background-color: rgb(3, 75, 75);
  height: 150;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: block;
  display: grid;
  grid-template-columns: 10fr 250px;
  grid-template-areas: "title userinterface";
}

.title {
  padding-left: 30%;
  grid-area: title;
  color: white;
  /* align-self: center; */
}

.user-interface {
  border: 3px solid rgb(8, 78, 60);
  background-color: rgb(66, 148, 148);

  grid-area: userinterface;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "avatar username"
    "avatar username";
  color: white;
}

.username {
  color: white;
  grid-area: username;
  padding-top: 20px;
  font-weight: 400;
}

.avatar {
  /* border: 3px solid rgb(255, 255, 255); */
  grid-area: avatar;
  height: 90px;
  padding: 5px;
}

.articles_topic-title {
  border: 1px solid rgb(72, 155, 155);
  border-radius: 5px;
  width: 91%;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  background-color: rgb(72, 155, 155);
  padding: 5px;
  color: white;
}

/* -----HEADER------- */

/* -------LOADING--------- */
.loading {
  max-width: 50%;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.loadWords {
  font-weight: normal;
  font-size: 0.9rem;
  color: rgba(189, 189, 189, 1);
  margin: 0.6rem 0 2rem 0;
  display: block;
}

.loading__anim {
  width: 35px;
  height: 35px;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgba(3, 155, 229, 1);
  border-top-color: rgba(3, 155, 229, 1);
  border-radius: 50%;
  display: inline-block;
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.comments_posted-message {
  color: rgb(255, 94, 0);
  font-weight: 600;
}

#comment-input {
  height: 150px;
  width: 100%;
}
/* -------LOADING--------- */

/* ---------NAVBAR---------- */

.nav-link {
  color: rgb(3, 75, 75) !important;
}

.active {
  background-color: rgb(3, 75, 75) !important;
  color: white !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgb(3, 75, 75) !important;
  color: white !important;
}

/* ---------NAVBAR---------- */

/* --------article display on homepage---------- */

.articles_article-display {
  padding: 25px;
}

.articles_single-title {
  font-weight: bold;
}

.articles_single-article {
  border: solid 1px rgb(70, 36, 36);
  border-radius: 5px;
  padding: 5px;
  margin: 7px;
  box-shadow: 5px 5px 5px lightblue;
  cursor: pointer;
  transition: all 200ms ease-out;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.articles_single-article:hover {
  /* border: solid 2px rgb(135, 230, 236); */
  box-shadow: 0 0 6px rgb(35 173 255);
}

.articles_text-container {
  padding-left: 50px;
}

/* --------article display on homepage---------- */

/* --------single page article display in each topic---------- */

.articles_single-page-article-container {
  border: solid 1px rgb(133, 199, 193);
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightblue;
  padding: 35px;
  margin: auto;
  margin-top: 3%;
  color: #282c34;
  background-color: rgb(217, 235, 231);
  width: 75%;
}

.articles_single-page-article-container:hover {
  box-shadow: 0 0 6px rgb(35 173 255);
  transition: all 200ms ease-out;
}

/* -----comments--------- */

.articles_single-page-comments-section {
  border: solid 1px rgb(133, 199, 193);
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightblue;
  padding: 35px;
  margin: auto;
  color: #282c34;
  background-color: rgb(237, 243, 242);
  width: 75%;
  margin-top: 20px;
  margin-bottom: 3%;
}

#comments_author-posted {
  font-size: small;
  font-weight: 700;
}

#comments_button-container {
  display: flex;
  justify-content: flex-end;
}

.comments_submit-button {
  font-weight: 700px;
  text-align: center;
  text-decoration: none;
  border: rgb(5, 112, 112) solid 2px;
  background-color: teal;
  border-radius: 10px;
  padding: 4px;
  color: white;
  margin: 15px;
}

.comments_submit-button:hover {
  opacity: 0.8;
  box-shadow: 0 0 6px rgb(35 173 255);
}

#comments_body {
  padding: 20px;
  border: solid 1px rgb(133, 199, 193);
  border-radius: 5px;
}

#comments_body:hover {
  box-shadow: 0 0 6px rgb(35 173 255);
  transition: all 200ms ease-out;
}

/* -----comments--------- */

#single-page_title {
  text-align: center;
  margin: 0;
}

#single-page_topic {
  font-weight: 700px;
  text-align: center;
  text-decoration: none;
  border: rgb(5, 112, 112) solid 2px;
  background-color: teal;
  border-radius: 10px;
  padding: 4px;
  color: white;
}

#single-page_topic:hover {
  opacity: 0.8;
  box-shadow: 0 0 6px rgb(35 173 255);
}

#single-page_body {
  font-weight: 700px;
  text-align: center;
  padding: 10px;
}

#single-page_posted {
  font-weight: 700px;
  text-align: center;
  margin-right: 5px;
}
#single-page_votes {
  font-weight: 700px;
  text-align: center;
}
#single-page_comment {
  font-weight: 700;
  text-align: left;

  padding-bottom: 30px;
}

.articles-container_author-posted-topic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

/* ---------vote buttons----------- */

.articles-container_votes-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

#vote-button {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(214, 63, 57);
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
  box-shadow: 0 0 6px rgb(35 173 255);
  cursor: pointer;
}

#vote-button:hover {
  opacity: 0.8;
  box-shadow: 0 0 6px rgb(35 173 255);
}

/* ---------vote buttons----------- */

/* -----topic images---------- */

.topic-image-single-page {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topic-image {
  width: 100%;
}

/* -----topic images---------- */

/* --------single page article display in each topic - END---------- */

/* ------Media Queries------------- */

@media screen and (min-width: 600px) {
  .articles_single-article {
    flex-direction: row;
  }
  .topic-image {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  .articles_single-article {
    width: 50%;
  }
}

@media screen and (min-width: 922px) {
  .articles_single-page-article-container {
    width: 40%;
  }

  .articles_single-page-comments-section {
    width: 40%;
  }

  .header {
    background-color: rgb(3, 75, 75);
    display: grid;
    grid-template-columns: 1fr 3fr 300px;
    grid-template-areas: "title . userinterface";
  }

  .user-interface {
    border: 3px solid rgb(4, 65, 59);
    grid-area: userinterface;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "avatar username"
      "avatar username";
    color: white;
  }

  .username {
    grid-area: username;
    padding-top: 20px;
    font-weight: 600;
  }

  .avatar {
    border: 1px solid white;
    height: 130px;
    padding: 5px;
  }

  .topic-1 {
    padding-left: 175px;
  }

  .topic-4 {
    padding-right: 175px;
  }

  .articles_topic-title {
    width: 48%;
    padding: 5px;
  }

  .articles_article-display {
    padding: 25px;
    margin: auto;
  }

  #comment-input {
    width: 100%;
  }
}
